body {
    margin: 0px;
    padding: 0px;
    width: 1920px;
}

// part1

body {
    margin: 0 auto;
}

header {
    margin: 0 auto;
}

.part1img {
    margin: 0 auto;
}

.pthird {
    margin: 0 auto;
}

header {
    width: 1920px;
    height: 88px;
    margin: auto;


    .container {
        width: 1320px;
        height: 88px;
        display: flex;
        gap: 149.5px;
        margin: auto;


        .first {
            display: flex;
            width: 547px;
            height: 44.13px;
            align-content: center;
            margin-top: 21.94px;
            margin-bottom: 21.94px;
            margin-left: 15px;

            .inf {
                margin-right: 30px;

                img {
                    width: 167px;
                    height: 32px;
                    margin-top: 6.06px;
                    margin-bottom: 6.07px;
                }
            }

            .ins {
                width: 350px;
                height: 44.13px;

                p {
                    width: 290px;
                    height: 20px;
                    margin: 12px 13px 12.13px 47px;
                    font-family: Inter;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    width: 223.2px;
                    height: 20px;
                    color: #757575;
                }

            }
        }

        .second {
            display: flex;
            width: 593.5px;
            height: 44px;
            margin: 22px 15px 22px 149.5px;
            margin-left: -8px;

            .s1 {
                width: 149.61px;
                height: 42.13px;
                top: 0.94px;
                padding: 11px, 19.8px, 11.13px, 20px;
                border-radius: 200px;

                p {
                    width: 86.81px;
                    height: 20px;
                    font-family: Inter;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #05073C;
                    margin: 11px 42.8px 11.13px 20px;
                }
            }

            .s2 {
                width: 127.45px;
                height: 42.13px;
                border-radius: 200px;

                p {
                    width: 127.45px;
                    height: 42.13px;
                    border-radius: 200px;
                    font-family: Inter;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #05073C;
                    margin: 11px 42.8px 11.13px 20px;
                }
            }

            .s3 {
                width: 91.86px;
                height: 42.13px;
                border-radius: 200px;

                p {
                    width: 29.06px;
                    height: 20px;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #05073C;
                    margin: 11px 42.8px 11.13px 20px;
                }
            }

            .s4 {
                width: 81.27px;
                height: 28.13px;
                font-family: Inter;
                font-size: 15px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
                color: #05073C;
                margin: 7.94px 0px 7.93px 10px;
            }

            .but5 {
                width: 83.31px;
                height: 44px;
                left: 460.19px;
                padding: 12px, 20.8px, 12px, 21px;
                border-radius: 200px;
                background-color: #EB662B;
                color: white;
                border: none;
                margin-right: 50px;

            }
        }
    }
}

.part1img {
    width: 1920px;

    img {
        width: 1800px;
        height: 702.13px;
        top: 88px;
        left: 60px;
        border-radius: 12px;
        margin-left: 60px;
    }

    .imgss {
        position: absolute;
        margin-top: -480.13px;
        margin-left: 678.03px;
        z-index: 100;
        width: 564.12px;
        height: 84px;
        font-family: Inter;
        font-size: 69.72px;
        font-weight: 600;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }

    .imgs3 {
        position: absolute;
        margin-top: -390.13px;
        margin-left: 650.03px;
        z-index: 100;
        width: 629.78px;
        height: 28.13px;
        font-family: Inter;
        font-size: 14.64px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }

    .imgbox121 {
        width: 850px;
        height: 80px;
        border-radius: 12px;
        background-color: #FFFFFF;
        position: absolute;
        margin-top: -307.13px;
        margin-left: 535.03px;
        z-index: 100;
        display: flex;
        gap: 0px;

        .imminbox1 {
            display: flex;
            width: 693.05px;
            height: 60px;
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 10px;

            .ib1 {
                width: 224.34px;
                height: 50px;
                display: flex;

                .ibb1 {
                    width: 50px;
                    height: 50px;
                    border-radius: 12px;
                    border: 1px solid #e7e6e6;
                    margin: 5px 0px 5px 10px;
                }

                .ibb2 {
                    width: 128.36px;
                    height: 43.59px;
                    margin-top: 3.2px;
                    margin-bottom: 3.21px;

                    .ibbb1 {
                        width: 46.67px;
                        height: 24px;
                        font-family: Inter;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #05073C;
                        margin: 3.2px 0px 0px 10px;
                        font-weight: bold;
                    }

                    .ibbb2 {
                        width: 128.56px;
                        height: 18px;
                        font-family: Inter;
                        font-size: 13.67px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #717171;
                        margin: 0px 35.78px 4.8px 10px;
                    }

                }

            }

            .jay {
                width: 224.34px;
                height: 50px;
                display: flex;
                margin-top: 5px;

                .ibb11 {
                    width: 50px;
                    height: 50px;
                    border-radius: 12px;
                    border: 1px solid #e7e6e6;
                }

                .ibb2 {
                    width: 164.34px;
                    height: 45.59px;
                    // margin: 2.2px 0px 2.21px 10px;

                    .ibbb1 {
                        width: 41.31px;
                        height: 24px;
                        font-family: Inter;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #05073C;
                        font-weight: bold;
                        margin: 2.4px 0px 1px 12px;
                    }

                    .innnnp {
                        width: 168.55px;
                        height: 19.59px;
                        top: 25px;
                        left: 2px;
                        padding: 0px, 16.71px, 1.59px, 0px;

                        .ibbb2 {
                            width: 151.84px;
                            height: 18px;
                            font-family: Inter;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #000000;
                            margin-top: 0px;
                            margin-left: 12px;
                        }
                    }
                }
            }

            .ib3 {
                width: 224.36px;
                height: 50px;
                display: flex;
                margin-top: 5px;

                .ibb12 {
                    width: 50px;
                    height: 50px;
                    border-radius: 12px;
                    border: 1px solid #e7e6e6;
                }

                .ibb2 {
                    width: 69.19px;
                    height: 43.59px;


                    .ibbb1 {
                        width: 69.39px;
                        height: 24px;
                        margin-top: 3.2px;
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        font-weight: bold;
                        color: #05073C;
                        margin-left: 10px;
                    }

                    .ibbb2 {
                        width: 46.26px;
                        height: 18px;
                        font-family: Inter;
                        font-size: 13.78px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #717171;
                        margin-top: -12px;
                        margin-left: 10px;

                    }
                }
            }
        }

        .ib4 {
            width: 136.95px;
            height: 60px;
            border-radius: 12px;
            background-color: #EB662B;
            border: none;
            margin: 10px 10px 10px 0px;

            .searbut {
                width: 49.15px;
                height: 20px;
                font-family: Inter;
                font-size: 15px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0em;
                color: #FFFFFF;
                align-items: center;
                // margin: 20px 20.8px 20px 57px;
                margin-left: 57px;
                margin-top: 10px;

            }
        }

    }
}

.pthird {
    width: 1920px;
    margin-top: 120px;

    .ptin1 {
        width: 1320px;
        height: 296.38px;
        display: flex;
        flex-direction: column;
        margin-left: 300px;
        margin-right: 300px;

        .pt1 {
            width: 267.33px;
            height: 45px;
            font-family: Inter;
            font-size: 29px;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: left;
            color: #05073C;
            margin-left: 15px;
            margin-right: 1037.67px;
            margin-top: 0px;

        }

        .pt2 {
            display: flex;

            .pt21 {
                // display: flex;
                // flex-direction: column;

                img {
                    width: 60px;
                    height: 60px;
                    margin-left: 15px;
                }

                .pt211 {
                    width: 153.14px;
                    height: 27px;
                    font-family: Inter;
                    font-size: 17.72px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-left: 15px;
                    margin-top: 30px;

                }

                .pt212 {
                    width: 255.53px;
                    height: 76.25px;
                    font-family: Inter;
                    font-size: 14.88px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #05073C;
                    margin-left: 15px;
                    margin-bottom: 4.13px;
                }
            }

            .pt22 {
                margin-left: 74.47px;

                img {
                    width: 60px;
                    height: 60px;
                }

                .pt221 {
                    width: 204.4px;
                    height: 27px;
                    font-family: Inter;
                    font-size: 17.72px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #05073C;
                    margin-top: 30px;
                }

                .pt222 {
                    width: 256.95px;
                    height: 76.25px;
                    font-family: Inter;
                    font-size: 14.66px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #05073C;
                }
            }

            .pt23 {
                margin-left: 73.05px;

                img {
                    width: 60px;
                    height: 60px;
                }

                .pt231 {
                    width: 158.56px;
                    height: 27px;
                    font-family: Inter;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #05073C;
                    margin-top: 30px;
                }

                .pt232 {
                    width: 236.54px;
                    height: 48.12px;
                    font-family: Inter;
                    font-size: 14.65px;
                    font-weight: 400;
                    line-height: 28.13px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 14px;

                }
            }

            .pt24 {
                margin-left: 93.46px;

                img {
                    width: 60px;
                    height: 60px;
                }

                .pt241 {
                    width: 200.7px;
                    height: 27px;
                    font-family: Inter;
                    font-size: 17.86px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #05073C;
                    margin-top: 30px;
                }

                .pt242 {
                    width: 241.18px;
                    height: 48.12px;
                    font-family: Inter;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #05073C;
                    margin-top: 14px;
                }
            }
        }

    }


}








// part2


@media (min-width:1200px) {
    .first_container {
        max-width: 1320px;
        margin: auto;

    }
}

.first_container {
    // max-width: 1320px;
    // margin: auto;
    // border: solid;



    >.inner_con {
        width: 1320px;
        height: 390.25px;
        margin-top: 114.99px;
        // border: solid;

        >h1 {
            // width: 320.92px;
            height: 45px;
            margin-top: 5px;
            margin-left: 15px;
            font-family: "Inter", sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: left;
            color: #05073C;

            >span {
                // float: right;
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                margin-left: 898.49px;
                color: #05073C;


            }


        }

        >.main_div {
            width: 1290px;
            height: 340.25px;
            margin-left: 15px;
            // border:solid;
            // margin-top: -20px;

            >.main_div1 {
                width: 1290px;
                height: 200.25px;
                margin-top: 40px;
                display: flex;
                justify-content: space-between;

                >div {
                    width: 135px;
                    height: 200.25px;

                    >div {
                        >img {
                            border-radius: 130px;
                            margin-left: 2.5px;
                            width: 130px;
                            height: 130px;

                        }

                        >h4 {
                            width: auto;
                            height: 24px;
                            font-family: "Inter", sans-serif;

                            font-size: 15px;
                            font-weight: 500;
                            margin-top: 20px;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #05073C;


                        }

                        >h4:nth-of-type(2) {
                            width: auto;

                            margin-top: -19px;
                            // margin-left: 32.45px
                            font-family: "Inter", sans-serif;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 26px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #05073C;

                        }
                    }
                }

            }


        }



    }

    >.navya_div2 {
        width: 1320px;
        height: 940.63px;
        margin-top: 115px;
        // margin-left: 300px;
        // border: solid;

        >h1 {

            height: 45px;
            margin-top: 5px;
            margin-left: 15px;
            font-family: "Inter", sans-serif;
            font-size: 29.41px;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: left;
            color: #05073C;

            >span {
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                margin-left: 932.49px;
                width: 44.79px;
                height: 28.13px;
                color: #05073C;

                // top: 21.88px
                // left: 1234.41px


            }
        }

        >.nav_flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: start;


            >div {
                width: 300px;
                // margin-top: -45px;
                height: 388.31px;
                margin-top: 30px;
                // margin-left: 15px;
                // margin-right: 11px;
                border-radius: 12px;
                border: 1px solid #E7E6E6;

                >div {
                    width: 278px;
                    height: 198.56px;
                    margin-top: 11px;
                    margin-left: 11px;

                    >img {
                        width: 278px;
                        height: 198.56px;
                        border-radius: 12px;

                    }
                }

                >p:nth-of-type(1) {
                    width: auto;
                    height: 24.38px;
                    margin-top: 10px;
                    margin-left: 42px;
                    font-family: "Inter", sans-serif;
                    font-size: 12.29px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #717171;



                }

                >h4 {
                    width: 249.4px;
                    height: 45px;
                    margin-left: 21px;
                    margin-top: 6px;
                    font-family: "Inter", sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: -10px;
                    color: #05073C;




                }

                >p:nth-of-type(2) {
                    width: auto;
                    height: 17px;
                    margin-top: -10px;
                    margin-left: 101px;
                    color: #05073C;


                }

                >.boxi {
                    width: 258px;
                    height: 41px;
                    margin-top: 14.37px;
                    margin-left: 21px;
                    padding-top: 16.48px;
                    // padding: 11px, 0px, 0px, 0px;
                    box-sizing: border-box;
                    border-top: 1px solid #E7E6E6;
                    // border: solid;

                    >span:nth-of-type(1) {
                        width: 39.97px;
                        height: 17px;
                        margin-left: 21px;

                        font-family: "Inter", sans-serif;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;




                    }

                    >span:nth-of-type(2) {
                        margin-left: 91.79px;
                        font-family: "Inter", sans-serif;
                        

                        font-size: 13px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        // width: 34.48px;
                        height: 17px;

                        color: #05073C;

                        >.s1 {
                            width: 56.36px;
                            height: 21px;
                            margin-top: 4px ;
                            font-family: "Inter", sans-serif;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 30px;
                            letter-spacing: 0em;
                            margin-left: 1px;
                            // border: solid;
                            text-align: left;
                            color: #05073C;

                        }


                    }


                }

            }

        }




    }


}


// part3





// part4





// part5